html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: black;
}

#root {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
}

/* Header Related CSS */

header {
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-family: 'Revalia', cursive;
  text-shadow: 2px 2px deepskyblue;
  font-size: 40px;
  text-align: center;
}


/* Panel Related CSS */

h3 {
  font-family: 'Revalia', cursive;
  color: white;
  text-shadow: 1px 1px deepskyblue;
  padding: 10px;
  font-size: 24px;
}

h4 {
  font-family: 'Droid Sans', sans-serif;
  color: white;
  text-shadow: 1px 1px deepskyblue;
  font-size: 18px;
}

.panels {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Droid Sans', sans-serif;
  max-width: 250px;
  min-width: 225px;
  width: 100%;
  max-height: 600px;
  margin: 0 auto;
  text-align: center;
  /*background-image: url("http://res.cloudinary.com/nightstock/image/upload/s--mvfgfDYL--/v1490933569/panelbg_hrykq9.gif");
  background-size: cover;*/
  /*background-color: inherit;*/
  background-image: url("https://res.cloudinary.com/nightstock/image/upload/s--Evozj95F--/v1492641893/BSP_054_mik5dv.jpg");
  background-size: cover;

}

.box {
  max-width: 225px;
  min-width: 225px;
  background-color: rgba(0, 0, 0, .8);
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  height: 360px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score {
  height: 90px;
}

.commands {
  height: 330px;
}

.left-arrow img {
  width: 100px;
}
.spacebars img {
  width: 100px;
}
.b-button img {
  width: 50px;
}

.options {
  height: 100px;
}

.options-b {
  border-radius: 10px;
  border: solid 1px white;
  background-color: inherit;
  color: white;
  font-size: 16px;
  font-family: 'Revalia', cursive;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.options-b:hover {
  background-color: rgba(255, 255, 255, .5);

}

/* Game Canvas Related CSS */

.game {

}

canvas {
  margin: 0 auto;
  /*background-image: url("http://res.cloudinary.com/nightstock/image/upload/s--mM57ycOR--/v1490933567/canvasbg_yheffb.gif");*/
  /*background-color: inherit;*/
  background-image: url("https://res.cloudinary.com/nightstock/image/upload/s--XYgI3kNJ--/v1492646338/blue_space_background__looks_the_same_as_the_rest__by_darkdissolution-d7pgwmn_gppqei.png");
  background-size: cover;
}

#gameStartText {
  /*font-family: 'Revalia', cursive;
  color: white;
  text-shadow: 1px 1px deepskyblue;
  font-size: 30px;
  margin: 0 auto;
  padding: 0;*/
}

/* Sprite Related CSS */

.sprites img {
}

/* Footer Related CSS */

footer {
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

footer ul li a {
  font-family: 'Revalia', cursive;
  color: white;
  text-shadow: 1px 1px deepskyblue;
  text-decoration: none;
  text-align: center;
}

/*
Color Palette & Font theme:
5B95B7
557A90
28536C
0D3F5D
182730

font-family: 'Revalia', cursive;
font-family: 'Droid Sans', sans-serif;

panelbg: http://res.cloudinary.com/nightstock/image/upload/s--mvfgfDYL--/v1490933569/panelbg_hrykq9.gif

canvasbg: http://res.cloudinary.com/nightstock/image/upload/s--mM57ycOR--/v1490933567/canvasbg_yheffb.gif

spacecraft: http://res.cloudinary.com/nightstock/image/upload/s--6n99tnfy--/v1490933567/space-ship-spacecraft-forcies-star-wars-512_ffoen3.png

invader:
http://res.cloudinary.com/nightstock/image/upload/s--DR8t80cJ--/v1490933567/Mothership_tze1ai.png

projectile:
http://res.cloudinary.com/nightstock/image/upload/s--bN9vqtkO--/v1490972545/rocket-146109_640_tk7oi1.png
*/
